<div class="row">
    <div class="card col-md-2">
        <img src="/assets/posters/batman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Movie #1</p>
            <p class="card-text"><i class="bi bi-star"></i> <b>9/10</b></p>
        </div>
    </div>
    <div class="card col-md-2">
        <img src="/assets/posters/batman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Movie #2</p>
            <p class="card-text"><i class="bi bi-star"></i> <b>9/10</b></p>
        </div>
    </div>
    <div class="card col-md-2">
        <img src="/assets/posters/batman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Movie #3</p>
            <p class="card-text"><i class="bi bi-star"></i> <b>9/10</b></p>
        </div>
    </div>
    <div class="card col-md-2">
        <img src="/assets/posters/batman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Movie #4</p>
            <p class="card-text"><i class="bi bi-star"></i> <b>9/10</b></p>
        </div>
    </div>
    
</div>