<div class="row">
    <div class="card col-md-2">
        <img src="/assets/images/jack-black.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Jack Black</p>
            <p class="card-text">(Po)</p>
        </div>
    </div>
    <div class="card col-md-2">
        <img src="/assets/images/jack-black.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Jack Black</p>
            <p class="card-text">(Po)</p>
        </div>
    </div>
    <div class="card col-md-2">
        <img src="/assets/images/jack-black.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Jack Black</p>
            <p class="card-text">(Po)</p>
        </div>
    </div>
    <div class="card col-md-2">
        <img src="/assets/images/jack-black.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Jack Black</p>
            <p class="card-text">(Po)</p>
        </div>
    </div>
</div>