<div class="row">
    <div class="card" style="max-width: 150px;">
        <img src="/assets/actors/jack-black.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Jack Black <br>(Po)</p>
            
        </div>
    </div>
    <div class="card" style="max-width: 150px;" >
        <img src="/assets/actors/jack-black.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Jack Black <br>(Po)</p>
            
        </div>
    </div>
    <div class="card" style="max-width: 150px;">
        <img src="/assets/actors/jack-black.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Jack Black <br>(Po)</p>
            
        </div>
    </div>
    <div class="card" style="max-width: 150px;">
        <img src="/assets/actors/jack-black.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Jack Black <br>(Po)</p>
        </div>
    </div>
</div>