<h1>Kung Fu Panda</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NRc-ze7Wrxw?si=chn_CSho-s-M7g1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
    <div class="col-md-6">
        <p class="lead">Po é um panda que trabalha na loja de macarrão da sua família e sonha em transformar-se em um mestre de kung fu. Seu sonho se torna realidade quando, inesperadamente, ele deve cumprir uma profecia antiga e estudar a arte marcial com seus ídolos, os Cinco Furiosos.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" style="background-color: #f0f0f0">Actors</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Jack Black</li>
                        <li class="list-group-item">Angelina Jolie</li>
                        <li class="list-group-item">Jackie Chan</li>
                        <li class="list-group-item">Seth Rogen</li>
                    </ul>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" style="background-color: #f0f0f0">Directors</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Mark Osborne</li>
                        <li class="list-group-item">John Stevenson</li>
                    </ul>
                    
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <h1>Actors</h1><br>
    <app-details-actors></app-details-actors>
    <p></p>
    <div class="text-center">
        <a class="btn btn-warning">View all</a>
    </div>
</div>


<div class="row">
    <h1>Reviews</h1><br>
    <div class="col-md-12">
        <app-details-reviews></app-details-reviews>
    </div>
    <p></p>
    <div class="text-center">
        <a class="btn btn-warning">View all</a>
    </div>
</div>
<br>
<div class="row">
    <h1>Similar Movies</h1><br>
    <div class="col-md-12 text-center">
        <app-details-movies></app-details-movies>
    </div> 
    <p></p>
    <div class="text-center">
        <a class="btn btn-warning">View all</a>
    </div>
</div>
